html, body{
  overflow: hidden;
  height: 100%;
  width: 100%;
}
body{
  background-color: #1abc9c;
}
/*
 *Login index
 */
.login{
  margin-top: 100px;
}
.login > div:first-child{
  background-color: #edeff1;
  border-radius: 6px;
  padding: 24px 38px 20px;
}
.login  .form-horizontal .form-group{
  margin-right: 0;
  margin-left: 0;
}
.login .input-group input[type='text'], .login .input-group input[type='password']{
    border-right: 0
}
.login .input-group span{
  background-color: #ffffff;
  border-left: 0;
  color: #edeff1;
  top: 0;
}
.btn-login{
  background: #1abc9c;
  border-radius: 6px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-login:focus, .btn-login:active, .btn-login:hover, .btn-login:active:hover{
  background: #48c9b0;
  border-color: #48c9b0;
  color: #ffffff;
}
/*
 *Chat
 */
 .chat-body{
   background: #DFDFDF;
 }
 .chat-body .content{
   background: #1abc9c;
   background: -webkit-linear-gradient(top, #1abc9c, #1abc9c 30%, #DFDFDF 30%, #DFDFDF);
   background: -o-repeating-linear-gradient(top, #1abc9c, #1abc9c 30%, #DFDFDF 30%, #DFDFDF);
   background: -moz-repeating-linear-gradient(top, #1abc9c, #1abc9c 30%, #DFDFDF 30%, #DFDFDF);
   background: repeating-linear-gradient(top, #1abc9c, #1abc9c 30%, #DFDFDF 30%, #DFDFDF);
   /*min-height: 500px;*/
   height: 100%;
 }
 .content .app{
   height: calc(100% - 40px);
   padding-top: 20px;
 }
 .content .app > .row{
   height: 100%;
 }
 .contact, .chat{
   height: 100%;
 }
 .contact{
   background-color: #ffffff;
 }
 .header{
   background-color: #EEEEEE;
   font-size: 18px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 .avatar{
  border-radius: 20px;
  padding: 10px
 }
 .avatar-user{
   color: #767676;
   border: 1px solid #767676;
 }
 .avatar-contact{
   background-color: #1f4d94;
   border: 1px solid #1f4d94;
   color: #ffffff;
 }
.icon-comment{
  color: #767676;
  float: right;
  padding: 10px;
}
.body-contact{
  background-color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
}
.search{
  margin-bottom: 5px;
}
.search input{
  border-color: #E7EBEA;
}
.contact-row{
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding-top: 10px;
  padding-bottom: 4px;
}
.contact-name{
  font-size: 16px;
}
.contact-last-msj{
  font-size: 13px;
}
.contact-chat-time{
  color: #bbbbbb;
}
.chat{
  display: flex;
  flex-direction: column;
}
.chat-option{
  padding-top: 10px;
  color: #ccc;
}
.chat-header{
  order: 1;
}
.chat-header strong{
  font-size: 15px;
  margin-left: 10px;
}
.chat-messages{
  order: 2;
  background-color: #e5ddd5;
  height: 100%;
}
.chat-footer{
  background-color: #f5f1ee;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  order: 3;
}
.chat-icon span{
  color: #ccc;
  font-size: 25px;
}
.chat-field input{
  border-width: 0;
}
ul#listMsg li{
   list-style-type: none;
   text-align: right;
   padding-top: 5px;
   padding-bottom: 5px
}
ul#listMsg li span{
  background-color: #90EE90;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 7px 8px 9px;
  position: relative;
}
ul#listMsg li:nth-child(odd) span{
  background-color: #FFFFFF;
}
ul#listMsg li span:before{
  content: "";
  width: 0;
  position: absolute;
  border-style: solid;
  border-width: 5px 0 5px 11px;
  border-color: transparent transparent transparent #90ee90;
  right: -11px;
  bottom: 3px;
}
/*
 *Arrow
 */
ul#listMsg li:nth-child(odd) span:before{
  border-color: transparent transparent transparent #FFFFFF;
}
